:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #007f7f;
  background-color: #242424;

  font-synthesis: none;  font-weight: 500;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text-primary: #007f7f;
  --color-text-secondary: #363858;
  --color-primary: #d0d0d0;
  --color-secondary: #e0e0e0;
  --color-tertiary:#fafafa;
}

html {
  font-size: 14px;
}

a {
  font-weight: 500;
  color: #007f7f;
  text-decoration: inherit;
}
a:hover {
  color: #007f7f;
}

p {
  font-size:1rem;
  line-height: 1.5;
  color: var(--color-text-secondary);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-secondary);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}


.alt-button {
  color: var(--color-tertiary);
  background-color: var(--color-text-primary);
}

input, select, button, textarea {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f4f4f5;
  color: var(--color-text-secondary);
  transition: border-color 0.25s;
}

button:hover, input:hover, select:hover, textarea:hover {
  cursor: pointer;
  border-color: var(--color-text-primary);
}

button:active, input:active, select:active, textarea:active {
  border-color: var(--color-text-primary);
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: var(--color-text-primary);
}

.alt-button:hover, .alt-button:active, .alt-button:focus {
  border-color: var(--color-tertiary);
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

input[type="radio"]::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  top: 20%;
  left: -1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-tertiary);

  transition: background-color 0.25s;
}

input[type="radio"]::after:hover {
  opacity: 0.5;
}

input[type="radio"]:checked::after {
  background-color: var(--color-text-primary);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.red {
  color: #bf302d !important;
}

.blue {
  color: #345995 !important;
}

.green {
  color: #5CAB7D !important;
}

.orange {
  color: #C59849 !important;
}

table {
  border-collapse: collapse;
  border: 0;
}

th {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  padding: 0.5rem 1rem;
}

th:first-child {
  border-top-left-radius: 0.5rem;
}

th:last-child {
  border-top-right-radius: 0.5rem;
}

td {
  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid var(--color-secondary); */
  margin: 1px;
  text-align: center;
  color: var(--color-text-secondary);
}

tr {
  cursor: pointer;
  background-color: var(--color-tertiary);
  border: 3px solid transparent;
  border-radius: 0.5rem;
}

tr:hover {
  background-color: var(--color-secondary) !important;
  /* border-color: var(--color-text-primary); */
}


.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  margin: 0;
  overflow: hidden;
}

.table-header {
  display: grid;
  width: calc(100% - 6px);

  background-color: var(--color-primary);
  border: 3px solid transparent;
  font-weight: bold;
  padding: 0.2rem 0;
  margin: 0;
}

.table-header p {
  color: var(--color-text-primary) !important;
  white-space: nowrap;
}

.table p {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}


.table-row {
  display: grid;
  width: calc(100% - 6px);

  background-color: var(--color-tertiary);
  border: 3px solid transparent;
  padding: 0.2rem 0;
  margin: 0;
}

@media (max-width: 768px) {
  .table {
    overflow-x: scroll;
  }
}

.table-row:hover, .table-row:focus, .table-row:active {
  border: 3px solid var(--color-text-primary);
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-text-primary);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-text-primary);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
